In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Exercises for Tuples

In [ ]:
#Exercise 39: Reverse the following tuple
aTuple = (10, 20, 30, 40, 50)
aTuple[::-1]

In [ ]:
#Exercise 40: Access value 20 from the following tuple
aTuple = ("Orange", [10, 20, 30], (5, 15, 25))
aTuple[1][1]

In [ ]:
#Exercise 41: Create a tuple with single item 50
a=50,

In [ ]:
#Exercise 42: Unpack the following tuple into 4 variables

aTuple = (10, 20, 30, 40)
for i in aTuple:
    print(f"(a) # should print {i}")

In [ ]:
a, b, c, d= aTuple
a

In [ ]:
#Exercise 43: Swap the following two tuples
tuple1 = (11, 22)
tuple2 = (99, 88)

tuple1, tuple2= tuple2, tuple1
tuple1

In [ ]:
#Exercise 44: Copy element 44 and 55 from the following tuple into a new tuple
tuple1 = (11, 22, 33, 44, 55, 66)
tuple2=tuple1[3:5]
tuple2

In [ ]:
#Exercise 45: Modify the first item (22) of a list inside a following tuple to 222
tuple1 = (11, [22, 33], 44, 55)
tuple1[1][0]=222
tuple1

In [ ]:
#Exercise 46: Sort a tuple of tuples by 2nd item
tuple1 = (('a', 23),('b', 37),('c', 11), ('d',29))
tuple1 = tuple(sorted(list(tuple1), key=lambda x: x[1]))

In [ ]:
#Exercise 47: Counts the number of occurrences of item 50 from a tuple
tuple1 = (50, 10, 60, 70, 50)
from collections import Counter
Counter(tuple1)

In [ ]:
tuple1.count(50)

In [ ]:
#Exercise 48: Check if all items in the following tuple are the same
tuple1 = (45, 45, 45, 45)
tuple2=set(tuple1)
tuple2

In [ ]:
if tuple1.count(45) == len(tuple1):
    print(True)

In [7]:
#Exercise 49: Add a list of elements to a given set
sampleSet = {"Yellow", "Orange", "Black"}
sampleList = ["Blue", "Green", "Red"]
sampleSet.update(sampleSet)
sampleSet

{'Black', 'Orange', 'Yellow'}

In [10]:
#Exercise 50: Return a new set of identical items from a given two set
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
a=set1.intersection(set2)
a

{30, 40, 50}

In [12]:
#Exercise 51: Returns a new set with all items from both sets by removing duplicates
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.update(set2)
set1

{10, 20, 30, 40, 50, 60, 70}

In [14]:
#Exercise 52: Remove items 10, 20, 30 from the following set at once
set1 = {10, 20, 30, 40, 50}
set1.difference_update({10, 20, 30})
set1

{40, 50}

In [15]:
import numpy as np
x,y=np.mgrid[0:5, 0:5]
x

array([[0, 0, 0, 0, 0],
       [1, 1, 1, 1, 1],
       [2, 2, 2, 2, 2],
       [3, 3, 3, 3, 3],
       [4, 4, 4, 4, 4]])

In [16]:
y

array([[0, 1, 2, 3, 4],
       [0, 1, 2, 3, 4],
       [0, 1, 2, 3, 4],
       [0, 1, 2, 3, 4],
       [0, 1, 2, 3, 4]])